{% load staticfiles %}
<head>
  <title>VirtualPenPal About</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/js.cookie.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
  {% include 'nav.html' %}

  <div class="container">
    <div class="row">
      <h1 class="text-center">About</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat arcu at sapien lobortis iaculis. Fusce vitae turpis ac sapien maximus pulvinar. Praesent feugiat eros eget quam mollis efficitur ac ut elit. Duis vulputate pharetra sapien, eu egestas massa laoreet vel. Nullam vel egestas urna. Ut nec quam consectetur, blandit mauris in, aliquam lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed elit non nibh tempus viverra. In hac habitasse platea dictumst. Vestibulum vel arcu vel arcu dignissim rutrum. Nunc porttitor pulvinar mi.
        </p>
        <br>
        <p>
          Fusce varius nisi eget ultrices feugiat. Vestibulum blandit tortor sed sollicitudin efficitur. Cras dictum neque vel lacinia dignissim. Sed tellus velit, convallis in sem vel, sodales vehicula dolor. Praesent vitae erat commodo, tincidunt magna at, consequat arcu. Suspendisse in euismod sapien, non placerat ex. Sed tristique, odio in aliquam aliquet, nulla velit tincidunt sem, efficitur euismod purus ligula quis neque. Etiam porta odio ut justo scelerisque, vitae porttitor tellus lobortis. Nam egestas, diam eu vulputate interdum, nulla turpis pulvinar erat, nec consequat nisi augue vitae urna.
        </p>
        <br>
        <p>
          Ut eget aliquet lorem. Nulla lectus magna, porttitor viverra eros vel, dignissim fringilla urna. Duis pulvinar pulvinar pulvinar. Vestibulum sit amet consectetur diam, ac auctor nisl. Proin eget dolor neque. Quisque porttitor fringilla lacinia. Praesent tempor cursus diam, a aliquam ante suscipit at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer vulputate consectetur nulla vitae rhoncus. Morbi ac lobortis velit. Cras consequat magna id augue luctus, varius varius urna malesuada. Donec in facilisis eros, et faucibus eros. Pellentesque nec odio iaculis, feugiat diam ac, interdum metus. Aenean non enim et nisl volutpat porttitor.
        </p>
        <br>
        <p>
          Sed porta mi eget vehicula ullamcorper. Maecenas laoreet dolor ut enim scelerisque, bibendum cursus nunc efficitur. Donec tincidunt erat eu dui venenatis pulvinar. Nam et ipsum tincidunt, porttitor metus vel, interdum diam. Ut a aliquet nulla. Duis nisi odio, mollis eu lacus a, tempus gravida arcu. Nam erat sapien, hendrerit eu dignissim non, rutrum non nunc. Nunc ac lectus felis. Donec accumsan, diam eget ullamcorper tempus, elit ipsum vestibulum ipsum, vitae euismod diam nunc sit amet dui. Phasellus feugiat dui in nisi faucibus, quis ultricies augue hendrerit. Sed sed fermentum massa. Donec hendrerit semper est, sed tincidunt ante fringilla et. Mauris commodo ligula nisi, nec sollicitudin tellus porttitor vitae. Aenean massa dui, semper id diam at, maximus placerat velit.
        </p>
        <br>
        <p>
          Vestibulum ligula ligula, tincidunt malesuada tellus et, aliquam venenatis massa. Phasellus id odio augue. Curabitur convallis, elit at consectetur condimentum, risus sem vestibulum felis, et euismod mi tellus ut ex. Aenean tincidunt lobortis iaculis. Donec magna urna, blandit id dolor dictum, congue porta felis. Sed ac ante lobortis, aliquet justo nec, cursus ligula. Quisque pellentesque tempor elementum. Morbi efficitur, neque in finibus egestas, dui arcu eleifend nisi, pellentesque commodo est ligula non felis. Donec ut leo id metus condimentum porttitor. Sed pellentesque cursus tempus. Duis vel turpis dolor. Nunc sed scelerisque risus. Fusce purus nibh, vehicula a auctor a, tincidunt eu nisl.
        </p>
      </div>
    </div>

  </div>
</body>
