{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>VirtualPenPal Demo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    {% include 'nav.html' %}

    <div class="container">

      <div class="jumbotron mt-1">
        <h1 class="jumbotron-heading text-xs-center">VirtualPenPal Demo</h1>
        <div id="translation">Test Div</div>
        <hr class="my-2">

        <div class="row">
          <div class="col-lg-6">
            <ul class="list-group chat-log js-chat-log" id="chat">
            </ul>

            <div class="input-group input-group-lg mt-1">
              <input type="text" class="form-control js-text" placeholder="Type something to begin..."/>
              <span class="input-group-btn">
                <button class="btn btn-primary js-say">Submit</button>
              </span>
            </div>

          </div>
        </div>

      </div>

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
      var chatterbotUrl = '{% url "chatterbot:chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');
        $row.text(text);
        //$row.append('<span id="menu" class="glyphicon glyphicon-option-horizontal" style="float:right;"></span>');
        //$row.append('<div class="pull-right"><span class = "glyphicon glyphicon-star"></span></div>');
        $chatlog.append($row);
      }

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }

        // Display the user's input on the web page
        createRow(inputData.text);

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);

            // Clear the input field
            $input.val('');

            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });

      function translate(input) {
        var text = input;
        var key = "AIzaSyANRQ_kj-1vxJjNtxhqmhBnw055tg_3heY";
        var source = "en";
        var dest = "zh-CN";

        var url = 'https://www.googleapis.com/language/translate/v2?';
         url += 'key='+key+'&source='+source+'&target='+dest+'&callback=showIt&q='+text;
        var script = document.createElement('script');
        script.type = "text/javascript";
        script.src = url;
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      function showIt(response) {
        if(response.data)
          document.getElementById("translation").innerHTML += "<br>" + response.data.translations[0].translatedText;
          else {
            alert("Error:" + response.error.message)
          }
      }


      $(document).on('click', '#chat li', function() {
        //alert("Clicked" + $(this).html());
        translate($(this).html());
      });

    </script>
  </body>
</html>
