{% load staticfiles %}

<head>
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  {% include 'nav.html' %}

  <h1 class="col-md-12 text-center">Register</h1>
  <form action='' method="post">
    {% csrf_token %}
  <div class="container">
    {% for field in form %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ field.label_tag }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ field }}
      </div>
    </div>
    {%  endfor %}
    <div class="row">
      <div class="col-md-2 col-md-offset-7 text-right" style="padding-top:10px;">
        <input class="btn btn-primary" type="submit" value="Register"/>
      </div>
    </div>
  </div>

</body>
</html>
