{% load staticfiles %}
<head>
  <title>New Note</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/js.cookie.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  {% include 'nav.html' %}

  <h1 class="col-md-12 text-center">Save New Note</h1>
  <form action='' method="post">
    <!--{% csrf_token %}-->
  <div class="container">
    {% for field in form %}
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        {{ field.label_tag }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        {{ field }}
      </div>
    </div>
    {%  endfor %}
    <div class="row">
      <div class="col-md-1 col-md-offset-7" style="padding-top:10px;">
        <input class="btn btn-primary" type="submit" value="Save to Notebook"/>
      </div>
    </div>
  </div>

  <script>
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    document.getElementById("id_text").value=getCookie("text");
  </script>

</body>
