{% load staticfiles %}
<html>
<head>
  <title>Saved Texts</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>

<body>
{% include "nav.html" %}

  <h1 class="col-md-12 text-center">Saved Texts</h1>
  <div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Time Created</th>
        <th>User</th>
        <th>Text</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {% for obj in objectList %}
      <tr>
        <td>{{ obj.created_at }}</td>
        <td>{{ obj.text }}</td>
        <td>{{ obj.user }}</td>
        <td><a href = '{{ obj.pk }}/delete'>Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
